a {
    text-decoration: none;

}
.link_box {
    width: 500px;
    height: 90px;
    border: 3px solid #CE8484;
    border-radius: 10px;
    padding: 25px 40px;
    margin: 15px auto;
    color: #3B0B0B;
    padding: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #3B0B0B;
}

.ex {
    padding-left: 5px;
}

.btn-k {
    font-weight: 400;
    line-height: 100%;
    color: #ffff;
    text-align: center;
    cursor: pointer;
    background-color: #CE8484;
    border: 1px solid #CE8484;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
}

.textbox {
    line-height: 100%;
    font-weight: 400;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid #CE8484;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.search {
display: flex;
vertical-align: top;
justify-content: right;
margin: 50px 300px;
}

ul {
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    min-width: 40px;
    line-height: 42px;
    justify-content: center;

}

.page {
    border: 3px solid #CE8484;
    color: rgb(106, 102, 109);
}

.page_t {
    border: 3px solid #CE8484;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.page_e {
    border: 3px solid #CE8484;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

.li_box {
    display: flex;
    justify-content: center;
}




h1 {
    color: #CE8484;
}

.add-form .btn {
    color: #ffff;
    text-align: center;
    cursor: pointer;
    background-color: #CE8484;
    border: 1px solid #CE8484;
}



.category_box {   
    width: 400px;
    height: 60px;
    border: 3px solid #CE8484;
    border-radius: 10px;
}


label {
    color: #3B0B0B;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.form-text {
    justify-content: right;
}

.form-group{

    flex-direction: column;

}

.mypage{
    border: 3px solid #CE8484;
    border-radius: 10px;
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.profile{
    width: 400px;
    height: 100px;
    text-align: start;
    color: #3B0B0B;
    font-size: 25px;
    margin: 20px auto ;
}

.icon img{
    border-radius: 60px;
    margin: 40px auto 20px;
    width: 300px;
    height: 300px;
}

.mypage a img{
    width: 100%;
    max-width: 60px;
    margin: 50px auto;
}

.mypage .icon img{
    width: 200px;
    height: 200px;
}

.mypage .name{
    font-size: 30px;
    font-weight: bold;
    color: #3B0B0B;
    margin: 20px auto 0;
}

.mypage .btn {
    width: 100px;
    color: #ffff;
    text-align: center;
    cursor: pointer;
    background-color: #CE8484;
    letter-spacing: 1rem;
    text-indent: 0.8rem;
    font-weight: bold;
    font-size: 16px;
    margin: 30px auto;
}

.form-text {
    margin: 10px auto;
}

.form-text #user-name {
    border: 2px solid #CE8484;
    border-radius: 6px;
    width: 400px;
    height: 50px;

}

.form-text #user-profile {
    border: 2px solid #CE8484;
    border-radius: 6px;
    width: 400px;
    height: 100px;
}

.form-text input,textarea{
    padding: 5px 10px;
}

.form-file{
    height: 50px;
    width: 400px;
    margin: 10px auto;
}

.form-file label{
    z-index: 100;
    width: 133px;
    background-color: #CE8484;
    color: #fff;
    font-size: 16px;
    padding: 13px 8px;
    border-radius: 8px;
    transition: all 0.5s;
    position: absolute;
}

.form-file label:active{
    background-color: #d8b7b7;
}

.form-filetext,::before{
    position: relative;
    background: #fff;
    line-height: 1.8;
    text-align: right;
    top: 10px;
    background: none;
    left: 15px;
}