<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <title>Document</title>
</head>
<body>

    <div class="search">
        <input type="text" class="textbox" placeholder="キーワード" style="width: 200px;" >
          <button class="btn" type="button" id="button-addon2">検索</button>
    </div>

    <div class="link_box">
        <a href="" class="title">部屋の説明</a><br>
         <span class="ex"> 部屋の説明</span>
    </div>

    <div class="link_box">
        <a href="" class="title">部屋の説明</a><br>
         <span class="ex"> 部屋の説明</span>
    </div>

    <div class="link_box">
        <a href="" class="title">部屋の説明</a><br>
         <span class="ex"> 部屋の説明</span>
    </div>

    <div class="link_box">
        <a href="" class="title">部屋の説明</a><br>
         <span class="ex"> 部屋の説明</span>
    </div>

    <div class="link_box">
        <a href="" class="title">部屋の説明</a><br>
         <span class="ex"> 部屋の説明</span>
    </div>

    <div class="link_box">
        <a href="" class="title">部屋の説明</a><br>
         <span class="ex"> 部屋の説明</span>
    </div>
    <nav>
        <ul>
            <li class="page_t">
                <a href="" class="li_box"><<</a>
            </li>
            <li class="page">
                <a href="" class="li_box"><</a>
            </li>
            <li>
                <span class="li_box">1</span>
            </li>
            <li class="page">
                <a href="" class="li_box">></a>
            </li>
            <li class="page_e">
                <a href="" class="li_box">>></a>
            </li>

        </ul>
    </nav>

</body>
</html>